<h1>View Service Booking</h1>
<table class="table table-striped">
    <thead>
        <tr>
        <th>ProductId</th>
        <th>UserId</th>
        <th>RegDate</th>
        <th>Problem</th>
        <th>Description</th>
        <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!--<td> {{id.id}} </td>-->
            <td> {{data.productId}} </td>
            <td> {{data.userId}} </td>
            <td> {{data.regDate }} </td>
            <td> {{data.problem}} </td>
            <td> {{data.description}} </td>
            <td> {{data.status}} </td>
        </tr>
        </tbody>
   
        </table>