<h2>View Product</h2>
<table class="table table-striped">
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Make</th>
        <th>Model</th>
        <th>Cost</th>
        <th>Created Date</th>
      
        </tr>
    </thead>
    <tbody>
            <tr>
                 <td> {{data.id}} </td>
                 <td> {{data.name}} </td>
                 <td> {{data.make}} </td>
                 <td> {{data.model }} </td>
                 <td>{{data.cost}}</td>
                 <td>{{data.createdDate}}</td>
                
            </tr>
    </tbody>
    </table>

